img  {
	height: 160px;
	width: 160px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}

#heading {
	background: grey;
	text-align: center;
	color: white;
}

#contact {
	float: right;
}

#main-content {
	min-width: 650px;
	max-width: 650px;
	float: left;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

body {
	min-width: 840px;
	max-width: 840px;
	margin: 0 auto;
}