#bio-image  {
	height: 200px;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
}

#heading {
	background: #333333;
	text-align: center;
	font-size: 28px;
	color: white;
}

h2 {
	font-size: 24px;
}

#contact-info {
	float: left;
	width: 30%;
}

#main-bio {
	width: 68%;
	float: left;
	line-height: 150%;
	margin-right: 2%;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

body {
	margin-top: -21px;
	padding: 0px;
	background: #efeee7;
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #333333;
}